@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: font1;
  src: url(../public/Fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(../public/Fonts/Lausanne-500.woff2);
}


body {
  background-color: #111;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}